@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");
* {
  box-sizing: border-box; }
  * a:link {
    color: inherit;
    text-decoration: none; }
  * a:visited {
    color: inherit; }

.main-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: center url("../img/header_background_v1.jpg") no-repeat;
  background-size: cover;
  position: relative; }
  .header .top-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; }
    .header .top-wrapper .logo {
      max-width: 250px; }
      .header .top-wrapper .logo__img {
        width: 100%; }
  .header .btn {
    margin: auto;
    display: block;
    width: 250px;
    height: 50px;
    background-color: #01acac;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cantarell", sans-serif;
    color: white;
    text-transform: uppercase;
    border: 0; }
  .header__title {
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    font-family: "Roboto", sans-serif; }
  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60px;
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase; }
    .header__nav a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33%;
      height: 100%; }
    .header__nav a:nth-of-type(2) {
      border-left: 2px #607d8b solid;
      border-right: 2px #607d8b solid; }

main {
  width: 1000px; }

.toolbar {
  padding: 25px 0; }
  .toolbar input {
    display: block;
    margin-left: auto;
    height: 40px;
    width: 200px;
    border: 1px solid #0097a7;
    padding-left: 15px; }
    .toolbar input::placeholder {
      color: black; }
    .toolbar input:focus {
      outline: none; }

.post-list h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0;
  text-align: right;
  text-transform: uppercase; }
.post-list article {
  overflow: auto;
  display: flex;
  width: 100%;
  height: 300px;
  background-color: #efefef;
  margin-bottom: 20px;
  padding: 10px 25px 10px 10px; }
  .post-list article img {
    width: 280x;
    height: 280px; }
  .post-list article .post {
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 15px; }
    .post-list article .post .post-description {
      color: red;
      padding: 10px;
      border-bottom: 1px solid #0097a7; }
    .post-list article .post p {
      margin: 0;
      line-height: 145%;
      font-family: "Roboto", sans-serif;
      font-size: 15px; }
  .post-list article h3 {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: #0097a7;
    font-weight: 900;
    margin: 5px; }
  .post-list article .btn {
    margin: 30px 0;
    margin-left: auto;
    display: block;
    width: 250px;
    height: 50px;
    background-color: #01acac;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cantarell", sans-serif;
    color: white;
    text-transform: uppercase;
    border: 0; }
