$bgSettings: center url('../img/header_background_v1.jpg') no-repeat;
$cantarell: 'Cantarell', sans-serif;
$roboto: 'Roboto', sans-serif;
$buttonColor: #01acac;
$basicColor: #0097a7;
$postDescription: red;
$standartFontSize: 15px;
$bigFontSize: 24px;